node_modules
dist
build

.env
.env.*
!.env.example

*.log
.DS_Store
.idea
.vscode
.git
.gitignore
.husky
.editorconfig
.prettierrc
.prettierignore
eslint.config.js

coverage
README.md
*.md

Dockerfile
.dockerignore
docker-compose.yml
docker-compose.prod.yml

nginx
scripts
